<footer>
    <div class="box">
        <div class="icon">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="company">
            &copy AI PROJECT
        </div>
        <div class="privacy">
            Privacy Terms
        </div>
    </div>
</footer>