<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top">
  <div class="container-fluid">
      <a class="navbar-brand sidebar-toggle" id="sidebarToggle" href="#"><i class="fa-regular fa-compass" style="color: #e63d3d;"></i></a>
     

      <!-- Sidebar -->
      <div class="sidebar" id="sidebar">
        <a href="#" class="close-btn" id="closeSidebar">&times;</a>
          <ul>
            <h3>User Menu</h3>
              <li><a href="/cart">See Your Cart</a></li>
              <li><a href="/see-my-products">See Your Products</a></li>
              <li><a href="/addproduct">Add Your Products</a></li>
              <li><a href="#">Your Orders</a></li>
              <li><a href="#">Wishlist</a></li>
              <li><a href="#">Settings</a></li>
          </ul>
      </div>
      <div class="overlay" id="overlay"></div>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
              <a class="nav-link" href="/home">Explore</a>
          </div>
      </div>

      <div class="search">
          <form class="d-flex" role="search" action="/listing/search" method="POST">
              <input class="form-control me-2" type="search" placeholder="Search Product" aria-label="Search" name='s'>
              <button class="btn btn-outline-danger" type="submit">Search</button>
          </form>
      </div>

      <a class="nav-link me-4 cart" href="/cart"><i class="fa-solid fa-cart-shopping" style="color: #0d0d0d;"></i></a>

      <%- include('user.ejs') %>
  </div>
</nav>
